<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <!--Possible values: chrome, firefox, ie, edge-->
    <add key="browser.target_browser" value="chrome" />
    <!--Use remote or local driver. Possible values: local, remote, sauceLabs-->
    <add key="browser.type" value="local" />
    <add key="screenshotsFolder" value="C:\Screenshots" />
    <add key="appURL" value="https://dev.crowdpic.com/" />
    <!--Used for registration-->
    <add key="new.user.email" value="test14temp@gmail.com" />
    <add key="new.user.password" value="TempPass14" />
    <!--Used for Login to the website-->
    <add key="user.email" value="test13temp@gmail.com" />
    <add key="user.password" value="TestPs1!" />
    <add key="user.facebook.email" value="test13temp@gmail.com" />
    <add key="user.facebook.password" value="TestPs1!" />
    <add key="user.google.email" value="test13temp@gmail.com" />
    <add key="user.google.password" value="TempPass13" />
    <add key="user.twitter.email" value="test13temp@gmail.com" />
    <add key="user.twitter.password" value="TestPs1!" />
    <add key="connectionsString" value="Server=tcp:eevrd6xylb.database.windows.net,1433;Database=picture-test;User ID=proot;Password=290w3AuLtaRrZL;" />
  </appSettings>
  
  <runtime>
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
          <dependentAssembly>
             <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
             <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
          </dependentAssembly>
          <dependentAssembly>
             <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
             <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
          </dependentAssembly>
       </assemblyBinding>
  
  </runtime>
  
<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow></configuration>